*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


/* regole di debug */

section{
  width:100%;
}
[class*="col-"]{
  height:100px;
  border:1px solid black;
}

footer{
  background-color: #0e1e42;
  border:1px solid black;
}

/* regole generali */
#jumbotron{
  background-color: blue;
}

.back-grey{
  background-color: #e0e1e2;
}

.back-blue{
  background-color: blue;
}

.row{
  padding:10px 0;
}
